div class="col-lg-2"
div class="col-lg-8"
  p
    | &nbsp;
  = t(:invites_instructions)
  p
    | &nbsp;
  = form_for( [@community,@invite], remote: true) do |f|
    - if @invite.errors.any?
      #error_explanation
        h2 = "#{pluralize(@invite.errors.count, "error")} prohibited this community from being saved:"
        ul
          - @invite.errors.full_messages.each do |message|
            li = message

    div class="form-group row"
      = f.label t(:email), class: "form-input-label"
      = f.text_area :email_list, cols: "20", rows: "10", required: true, class: "form-control"
    div class="form-group row"
      = f.submit t(:save), class: "btn btn-primary"
      | &nbsp;
      = link_to t(:cancel), community_invites_url(@community), remote: true
