= form_for @feed do |f|
  - if @feed.errors.any?
    #error_explanation
      h2 = "#{pluralize(@feed.errors.count, "error")} prohibited this feed from being saved:"
      ul
        - @feed.errors.full_messages.each do |message|
          li = message

  div class="form-group "
    = f.label t(:name), class: "form-input-label"
    = f.text_field :name, required: true, pattern: "[-0-9A-Za-zÀ-ÿ\s]{1,50}", minlength: "6", maxlenght: "50", class: "form-control"
  div class="form-group "
    = f.label :url, class: "form-input-label"
    = f.url_field :url,required: true, minlength: "6", maxlenght: "45", class: "form-control"
  div class="form-group "
    = f.label t(:description), class: "form-input-label"
    = f.text_area :description,rows: 10, required: true, minlength: "10", class: "form-control"
  div class="form-group "
    div class="form-check-label"
      = f.check_box :status,  class: "form-check-input"
      | &nbsp;
      = f.label t(:publish)
    = t(:only_published_items_will_be_display_to_all_users)
  div class="form-group "
    = f.submit t(:save), class: "btn btn-primary"
