div class="container"
  div class="col-lg-12"
     div class="page-header"
       h2 class="display-3"
         = t(:edit)
         | &nbsp;
         | feed

     == render 'form'

     => link_to t(:view), @feed
     '|
     =< link_to t(:back), feeds_path
