div class="container"
    div class="col-lg-12"
        div class="page-header"
          = t(:feeds)
        div class=" "
          table class="table-responsive" style="width: 100%"
            thead
              tr style="text-align: left"
                th
                  = t(:name)
                th style="text-align: left;width: 30%;"
                  = t(:url)
                th style="text-align: left"
                  = t(:show)
                th style="text-align: left"
                  = t(:edit)
            tbody
            - @feeds.each do |feed|
              tr
                td = feed.name
                td = feed.url
                td = link_to t(:show), feed
                td = link_to t(:edit), edit_feed_path(feed)

        br

        = link_to t(:feed_new), new_feed_path
