div class="container"
  div class="col-lg-12"
     div class="page-header"
       h2 class="display-3"
         = t(:new)
         | &nbsp;
         | feed

     == render 'form'

     = link_to t(:back), feeds_path
