
  div class="container"
    div class="col-lg-12"
      div class="page-header"
          h1
            = t(:ticket_types)
            | :
      div class="col-lg-12"
        table
        thead
          tr
            th Name
            th
            th
            th
        tbody
          - @ticket_types.each do |ticket_type|
            tr
              td = ticket_type.name
              td = link_to t(:show), ticket_type
              td = link_to t(:edit), edit_ticket_type_path(ticket_type)
              td = link_to t(:destroy), ticket_type, data: { confirm: 'are_you_sure' }, method: :delete
        br
      div class="col-lg-12"
      = link_to 'New Ticket type', new_ticket_type_path
