<br>
<%= t(:congratulations_you_have_earn_a_new_badge, user_name: @user.name,badge_name: @badge.name)%>
<br>
<br>
<%= image_tag @badge.image.url%>
<br>
<br>
<%= t(:you_can_see_your_badges_here)%>
<br>
<%= link_to t(:here), user_custom_url(@user.id,@user.name)%>.
