= form_for @profile_view do |f|
  - if @profile_view.errors.any?
    #error_explanation
      h2 = "#{pluralize(@profile_view.errors.count, "error")} prohibited this profile_view from being saved:"
      ul
        - @profile_view.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :name
    = f.text_field :name
  .actions = f.submit
