h1 Listing profile_views

table
  thead
    tr
      th Name
      th
      th
      th

  tbody
    - @profile_views.each do |profile_view|
      tr
        td = profile_view.name
        td = link_to 'Show', profile_view
        td = link_to 'Edit', edit_profile_view_path(profile_view)
        td = link_to 'Destroy', profile_view, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Profile view', new_profile_view_path
