div class="container"
  div class="page-header"
    h3
      | Planet
  - @entries.each do |entry|
    - unless entry.content.nil?
      div class="col-lg-12"
          div class="col-lg-1"
            = image_tag entry.feed.user.avatar.url(:med_thumb),size: '80x80', alt: entry.feed.user.name, class: "img-circle img-fluid"
          div class="col-lg-11"
            div class="panel panel-default"
              div class="panel-body"
                  div class="col-lg-12"
                    div class="col-lg-8"
                      h3
                        = entry.title
                    div class="col-lg-2"
                      = entry.author
                    div class="col-lg-2"
                      = time_ago_in_words(entry.published)
                  div class="col-lg-12"
                      | &nbsp;
                  div class="col-lg-12"
                      = entry.content.html_safe
  div class="col-lg-12 text-center"
    = will_paginate @entries, renderer: BootstrapPagination::Rails
