= form_for @badge, html: { multipart: true } do |f|
  - if @badge.errors.any?
    #error_explanation
      h2 = "#{pluralize(@badge.errors.count, "error")} prohibited this badge from being saved:"
      ul
        - @badge.errors.full_messages.each do |message|
          li = message

  div class="col-lg-6"
    div class="form-group row"
      = f.label t(:name) + ":", class: "form-input-label"
      = f.text_field :name, required: true, pattern: "[-0-9A-Za-zÀ-ÿ\s]{1,50}", minlength: "6", maxlenght: "100", class: "form-control"
      = hidden_field_tag 'badgeble_id', @badgeble.id, class: "form-control" unless @badgeble.nil?
      = hidden_field_tag 'badgeble_type', @badgeble.class.name unless @badgeble.nil?
      div class="text-warning"
        | * &nbsp;
        = t(:required) + ", " + t(:max_length, num_chars: 50)
    div class="form-group row"
      = f.label t(:description) + ":", class: "form-input-label"
      = f.text_field :description, required: true, minlength: "6", maxlenght: "250", class: "form-control"
      div class="text-warning"
        | * &nbsp;
        = t(:required)
  div class="col-lg-6 text-center"
    = image_tag @badge.image.url unless @badge.nil?
  div class="col-lg-12"
  div class="col-lg-6"
    div class="text-warning"
      - if @badgeble.class.name == "Event"
        = t(:badge_criterial_information)
        br
        = t(:event_badges)
  div class="col-lg-6"
    div class="form-group"
      = f.label t(:image) + ":", class: "form-input-label"
      = f.file_field :image, required: true, class: 'form-control'
      div class="text-warning"
        = t(:badge_image_instructions)
  div class="col-lg-12"
    div class="form-group row"
      = f.label t(:rule) + ":", class: "form-input-label"
      = f.select :badge_rule_id, BadgeRule.where("inmediatly=false and badgeble_type=?",@badgeble.class.name).collect {|p| [p.name, p.id]}, required: true
  div class="col-lg-12"
    div class="form-group row"
      = f.label t(:criteria) + ":", class: "form-input-label"
      = f.text_field :criteria, required: true, minlength: "6", maxlenght: "50", class: "form-control"
      div class="text-warning"
        | * &nbsp;
        = t(:required) + ", " + t(:criteria_info)
  div class="col-lg-12"
    div class="form-group row"
      = f.label t(:expire) + ": ", class: "form-input-label col-lg-2 row"
      = f.text_field :expire, value: (f.object.expire.strftime("%Y-%m-%d") unless f.object.expire.nil? ),required: true, "data-provide": "datepicker", "data-date-format": "yyyy-mm-dd", placeholder: DateTime.now.strftime("%Y-%m-%d"), class: "col-lg-2"
      div class="text-info col-lg-6 row"
        | &nbsp; * &nbsp;
        = t(:expire_info)
  div class="col-lg-10"
  div class="col-lg-12"
    div class="form-group row"
      = f.label t(:tags), class: "form-input-label"
      = f.text_field :tags, class: "form-control"
      div class="text-info"
        = t(:tags_info)
  div class="col-lg-12"
    div class="form-group row"
      = f.label t(:claim_until) + ": ", class: "form-input-label col-lg-2 row"
      = f.text_field :claim_until, value: (f.object.claim_until.strftime("%Y-%m-%d") unless f.object.claim_until.nil? ),required: true, "data-provide": "datepicker", "data-date-format": "yyyy-mm-dd", placeholder: DateTime.now.strftime("%Y-%m-%d"), class: "col-lg-2"
      div class="text-warning col-lg-6 row"
        | &nbsp; * &nbsp;
        = t(:required) + ", " + t(:claim_info)
  div class="col-lg-12"
    div class="form-group row"
      .actions = f.submit
