div class="container"
 div class="col-lg-12"
    div class="page-header"
      = @badge.name
    div class="col-lg-2 text-center"
      = image_tag @badge.image.url, size: "90x90"
    div class="col-lg-10"
      div class="panel panel-default"
        div class="panel-heading"
          = t(:badge_info)
        div class="panel-body"
          p
            strong
              = t(:tags) + ": "
            = @badge.tags
          p
            strong
              = t(:description) + ": "
            = @badge.description
          p
            strong
              = t(:criteria) +": "
            = @badge.criteria
          p
            strong
              = t(:expire) + ": "
            = @badge.expire
          p
            strong
              = t(:claim_until) +": "
            = @badge.claim_until
      - unless @users.empty?
        div class="panel panel-default"
          div class="panel-heading"
            = t(:badge_awarded)
          div class="panel-body"
            div class="list-group"
              - @users.each do |user|
                div class="list-group-item col-lg-2 text-center" style="border: 0;"
                   = link_to(user_custom_path(user.id,user.name.gsub(/\s/,'-')), title: "#{user.name}" , data: {toggle: "tooltip", container: "body", placement: "bottom"})  do
                     = image_tag user.avatar.url(:med_thumb),size: "90x90", alt: user.name, class: "img-circle img-fluid"
      div class="col-lg-10 text-center"
        = will_paginate @users, renderer: BootstrapPagination::Rails
      => link_to 'Edit', edit_badge_path(@badge)
      '|
      =< link_to 'Back', badges_path
