
  div class="container"
    div class="col-lg-12"
        div class="list-group"
          div class="list-group-item list-group-item-action flex-column align-items-start"
             = render @attendee
    div class="col-lg-12"
        p
         = sanitize(@attendee.event.description)
