div class="container"
  div class="col-lg-12"
     div class="page-header"
         h2 class="display-3"
           = t(:edit)
           | &nbsp;
           = t(:event)

     == render 'form'

     => link_to t(:show), @event
     '|
     =< link_to t(:back), events_path
