div class="container"
  div class="col-lg-12"
     div class="page-head-header"
       h2 class="display-3"
         = t(:edit)
         | &nbsp;
         = t(:news)
     div class="col-lg-12"
       == render 'form'

     => link_to t(:show), @news
     '|
     =< link_to t(:back), news_index_path
