
  div class="container"
    div class="col-lg-12"
      div class="page-header"
          h1
            = t(:ticket)
            | :
      div class=""
        == render 'form'
      div class=""
        = link_to t(:back), tickets_path
