= form_for([@community,@contact] ) do |f|
  - if @contact.errors.any?
    #error_explanation
      h2 = "#{pluralize(@contact.errors.count, "error")} prohibited this community from being saved:"
      ul
        - @contact.errors.full_messages.each do |message|
          li = message

  div class="form-group "
    = f.label t(:include_reply_address) + ":", class: "form-check-label"
    | &nbsp;
    = f.check_box :reply, class: "form-check-input"
    br
    small id="titlelHelp" class="form-text text-muted"
      = t(:reply_include_your_email)
  div class="form-group "
    = f.label t(:send_to) + ":", class: "form-input-label"
    | &nbsp;
    = f.select :members, options_for_select([[t(:all_members), "all"],[t(:all_admins),"all_admins"]]), class: "form-control"
  div
    small id="titlelHelp" class="form-text text-muted"
      = t(:send_to_all_members_or_admins)
  div class="form-group "
    = f.label t(:subject) + ":", class: "form-input-label"
    = f.text_field :subject, min:6, max: 200, required: true, pattern: "[-0-9A-Za-zÀ-ÿ\s]{1,200}", class: "form-control"
  div class="form-group "
    = f.label t(:message) + ":", class: "form-input-label"
    = f.bootsy_area :message, cols: 30, rows: 15, required: true, mim: 10, class: "form-control"
  div class="form-group "
    = f.label t(:publis_to_board)+ ":", class: "form-check-label"
    | &nbsp;
    = f.check_box :publish_to_board, class: "form-check-input"

  div class="form-group "
    = f.submit t(:save), class: "btn btn-primary"
    | &nbsp;
    = link_to t(:preview), "#",id: "contact_preview", :onclick => "mail_contact_preview()", class: "btn btn-success"
