= form_for @preference do |f|
  - if @preference.errors.any?
    #error_explanation
      h2 = "#{pluralize(@preference.errors.count, "error")} #{t(:preference_error_update)}:"
      ul
        - @preference.errors.full_messages.each do |message|
          li = message
  div class="form-group col-lg-12"
    div class="custom-control custom-checkbox"
      = f.check_box :email_community_invites, class: "custom-control-input"
      | &nbsp;
      = f.label t(:email_community_invites), class: "custom-control-label"
  div class="form-group col-lg-12"
    div class="custom-control custom-checkbox"
      = f.check_box :email_board_notifications, class: "custom-control-input"
      | &nbsp;
      = f.label t(:email_board_notifications), class: "custom-control-label"
  div class="form-group col-lg-12"
    div class="custom-control custom-checkbox"
      = f.check_box :email_event_invites, class: "custom-control-input"
      | &nbsp;
      = f.label t(:email_event_invites), class: "custom-control-label"
  div class="form-group col-lg-12"
    div class="custom-control custom-checkbox"
      = f.check_box :email_notifications, class: "custom-control-input"
      | &nbsp;
      = f.label t(:email_notifications), class: "custom-control-label"
  div class="form-group col-lg-12"
    = f.submit t(:save), class: "btn btn-primary"
