div class="container"
 div class="col-lg-12"
    div class="page-header"
      - if notice
        div class="col-lg-12"
          div class="alert alert-dismissible alert-success"
            button type="button" class="close" data-dismiss="alert"
              | &times;
            = notice
    div class="col-lg-12"
      div class="col-lg-3"
        div class="card bg-light mb-3" style="max-width: 20rem;"
          div class="card-header"
          div class="card-body" style="text-align: center"
            p class="card-text"
              = image_tag @user.avatar.url(:medium), class: "img-circle img-fluid"
            h4 class="card-title"
              = @user.name
            - unless @badges.empty?
              = t(:view_user_like)
              | &nbsp;
              = link_to "Json", user_badges_path(@user.id)

      div class="col-lg-9"
        - unless @badges.empty?
          div class="panel panel-default"
            div class="panel-heading"
              = t(:my_badges) if @badges.count>0
            div class="panel-body"
              - @badges.each do |badge|
                = render  badge
        - unless @communities.empty?
          div class="panel panel-default"
            div class="panel-heading"
              = t(:my_communities)
            div class="panel-body"
              div class="list-group"
              - @communities.each do |community|
                div class="list-group-item col-lg-2 text-center" style="border: 0;"
                  = link_to community_url(community.subdomain), title: "#{community.name} - #{strip_tags(community.information).truncate(100)}" , data: {toggle: "tooltip", container: "body", placement: "bottom"} do
                    = image_tag community.logo.url(:thumb), alt: community.name
        - unless @events.empty?
          div class="panel panel-default"
            div class="panel-heading"
              = t(:my_recent_events)
            div class="panel-body"
              div class="list-group"
                - @events.each do |event|
                  div class="list-group-item col-lg-4" style="border: 0;"
                    = link_to event_url(event.subdomain),  title: "#{event.title} - #{strip_tags(event.description).truncate(100)}" , data: {toggle: "tooltip", container: "body", placement: "bottom"} do
                      = image_tag event.image.url(:medium), class: "img-responsive"
                    = event.start_at.strftime("%b %d %Y")
        - unless @attended.empty?
          div class="panel panel-default"
            div class="panel-heading"
              = t(:attended_to_this_events)
            div class="panel-body"
              div class="list-group"
                - @attended.each do |attend|
                  - event = attend.ticket.event
                  div class="list-group-item col-lg-4" style="border: 0;"
                    = link_to event_url(event.subdomain),  title: "#{event.title} - #{strip_tags(event.description).truncate(100)}" , data: {toggle: "tooltip", container: "body", placement: "bottom"} do
                      = image_tag event.image.url(:medium), class: "img-responsive"
                    = event.start_at.strftime("%b %d %Y")
        - unless @news.empty?
          div class="panel panel-default"
            div class="panel-heading"
              = t(:my_recent_news)
            div class="panel-body"
              div class="list-group"
                - @news.each do |article|
                   div class="list-group-item col-lg-4" style="border: 0;"
                    = link_to article.title, news_path(article), title: "#{strip_tags(article.news_content.content).truncate(100)}" , data: {toggle: "tooltip", container: "body", placement: "bottom"}
