
  = form_for([@community,@board],remote: true) do |f|
    - if @board.errors.any?
      #error_explanation
        h2 = "#{pluralize(@community.errors.count, "error")} prohibited this community from being saved:"
        ul
          - @board.errors.full_messages.each do |message|
            li = message
    div class="form-group"
      = f.label t(:board_subject), class: "form-input-label"
      = f.text_field :subject, required: true, pattern: "[-0-9A-Za-zÀ-ÿ\s]{1,50}", minlength: "6", maxlenght: "50", class: "form-control"
      small id="titlelHelp" class="form-text text-muted"
        = t(:board_subject_help)
    = f.fields_for :board_messages do |bmf|
      div class="form-group "
        = bmf.label t(:board_message_content), class: "form-input-label"
        = bmf.text_area :content, required: true, cols: 20, rows: 7, minlength: "6", maxlenght: "50", class: "form-control"
        small id="titlelHelp" class="form-text text-muted"
          = t(:board_message_content_help)
    - if @community.is_admin?(current_user)
      div class="form-group "
        = f.check_box :pin, {class: "form-check-box"}, "true", "false"
        | &nbsp;
        = f.label t(:pin_subject), class: "form-check-box-label"
        p
          small id="titlelHelp" class="form-text text-muted"
            = t(:board_ping_subject_help)
    div class="form-group "
      = f.submit t(:save), class: "btn btn-primary"
