div class="container"
  = render file: 'communities/show', layout: false
  div id="myTabContent" class="tab-content"
    | &nbsp;
    div id="allcontent"
     div  class="tab-pane" id="home"
      div class="container"
        div class="col-lg-12"
          h3 = t(:board) + ":"
          div class="col-lg-10"
            = link_to t(:board_new_subject),new_community_board_url(@community), remote: true,class: "btn btn-info"
          div class="row text-center"
            = will_paginate @boards, {link_options: {'data-remote': true}, renderer: BootstrapPagination::Rails }
          div id="new_board_data"
          div id="board_list" class="list-group"
            - logger.info @boards
            -  @boards.each do |board|
              = render board
