div class="container"
  = render file: 'communities/show', layout: false
  div id="myTabContent" class="tab-content"
    | &nbsp;
    div id="allcontent"
     div  class="tab-pane" id="home"
      div class="container"
        div class="col-lg-12"
          h3
            = t(:board)
            | :
          div class="col-lg-4"
            = link_to t(:return_to_board),community_boards_url(@community.subdomain), remote: true
          div class="col-lg-6"
          div class="col-lg-2"
            =  link_to t(:board_new_comment),new_community_board_board_message_url(@community,@board), remote: true,class: "btn btn-info"
          h4
           = @board.subject.capitalize
           p
            | &nbsp;
          div class="row text-center"
           = will_paginate @board_messages, {link_options: {'data-remote': true}, renderer: BootstrapPagination::Rails }
          div id="board_message_list" class="list-group"
            - @board_messages.each do |board_message|
              = render board_message
