table
  tbody
    tr
      td style="text-align: center"
        a href="https://floss-pa.net/events/#{@event.subdomain}"
          | ver en el sitio web
    tr
      td
        = image_tag "https://floss-pa.net/#{@event.image.url(:mail)}"
    tr
      td
        h3
          = @event.title
        p
          b El día: &nbsp;
          = @event.start_at.strftime("%b %d %y")
          | &nbsp;
          b desde: &nbsp;
          = @event.start_at.strftime("%I:%M %p")
          | &nbsp;
          b hasta: &nbsp;
          = @event.end_at.strftime("%I:%M %p")
    tr
      td
          b Lugar: &nbsp;
          = @event.location
    tr
      td
        = @event.description.html_safe unless @event.description.nil?
