div class="container"
  div class="col-lg-12"
      div class="page-header"
         h3
           = t(:editing)
           | &nbsp;
           = t(:badge_rule)

      == render 'form'

      => link_to t(:show), @badge_rule
      '|
      =< link_to t(:back), badge_rules_path
