div class="container"
 div class="col-lg-12"
    div class="col-lg-12 text-center"
      h3 = t(:listing_badge_rules)
      br
    div class="col-lg-12"
      div class="col-lg-1"
      = link_to t(:new_badge_rule), new_badge_rule_path
    div class="col-lg-12"
      div class="table-responsive"
        table class="col-lg-10" border="0px"
          thead
            tr style="border-bottom:1pt solid black;"
              th
                = t(:name)
              th
                = t(:count)
              th
                = t(:Inmediato)
              th
                = t(:badgeble_type)
              th
                = t(:deliver)
              th
              th


          tbody
            - @badge_rules.each do |badge_rule|
              tr style="border-bottom:1pt solid black;"
                td = badge_rule.name
                td = badge_rule.times
                td = badge_rule.inmediatly
                td = badge_rule.badgeble_type
                td = badge_rule.deliver
                td = link_to t(:show), badge_rule
                td = link_to t(:edit), edit_badge_rule_path(badge_rule)


    div class="col-lg-12"
      div class="col-lg-1"
      = link_to t(:new_badge_rule), new_badge_rule_path
