div class="container"
    div class="col-lg-12"
      div class="page-header"
        h3
          = t(:new)
          | &nbsp;
          = t(:badge_rule)

      == render 'form'

      = link_to t(:back), badge_rules_path
