h1 Listing oportunities

table
  thead
    tr
      th Name
      th
      th
      th

  tbody
    - @oportunities.each do |oportunity|
      tr
        td = oportunity.name
        td = link_to 'Show', oportunity
        td = link_to 'Edit', edit_oportunity_path(oportunity)
        td = link_to 'Destroy', oportunity, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Oportunity', new_oportunity_path
