- set_class=''
- if formated==true
  - set_class="list-group-item d-flex justify-content-between align-items-center"
li id="notification_#{notification.id}" class="#{set_class}"
    - unless set_class.empty?
      = check_box_tag "ids[]", notification.id, false
      | &nbsp;
    = link_to "#{notification.user.name} #{t(:join_your_group)} #{notification.notifiable.community.name}" ,
            community_members_url(notification.notifiable.community.subdomain,:not_id=>notification.id)
