div class="container"
  div class="col-lg-12"
     div class="page-header"
       h2 class="display-3"
         = t(:edit)
         | &nbsp;
         = t(:community)
       == render 'form'
     => link_to t(:show), @community
     '|
     =< link_to t(:back), communities_path
