div class="container"
  div class="col-lg-12"
      div class="row"
        div class="modal fade" id="show_community"
          div class="modal-dialog modal-lg" role="document"
            div class="modal-content"
              div class="modal-header"
                h5 class="modal-title"
                  span id="community_modal_title"
                  button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    span aria-hidden="true"
                     | &times;
              div class="modal-body"
                div id="community_modal_content"
                p
                  | &nbsp;
              div class="modal-footer"
                button type="button" class="btn btn-secondary" data-dismiss="modal"
                  = t(:close)
      div class="row"
        div class="col-lg-9"
         | &nbsp;
        div class="col-lg-3 text-right"
      div class="row"
        div class="list-group"
          div class="list-group-item list-group-item-action flex-column align-items-start"
            div class="d-flex w-100 justify-content-between"
              div class="row"
                div class="col-lg-2 text-center bg-light"
                  = image_tag @community.logo.url(:thumb), alt: @community.name
                div class="col-lg-8"
                  h3 class="font-weight-bold"
                    = @community.name
                  p
                    i class="fa fa-user fa-1x"
                    | &nbsp;
                    = t(:organized_by) + ":"
                    | &nbsp;
                    = @community.user.name
                  p
                    i class="fa fa-group fa-1x"
                    | &nbsp;
                    = @community.members.active.count
                    | &nbsp;
                    = t(:members)
                    | &nbsp; - &nbsp;
                  p
                    i class="fa fa-link fa-1x"
                    | &nbsp;
                    = link_to @community.site, @community.site, target: "_blank"
                  p
                    | &nbsp;
                  p
                    = social_share_button_tag(@community.name, url: "#{url_for community_url(@community.subdomain)}", desc: @community.information, image: @community.logo.url)
      div class="row"
        div class="col-lg-12"
          = render "communities/submenu"
          - if controller.controller_name==='communities'
            div id="myTabContent" class="tab-content"
              | &nbsp;
              div id="allcontent"
                div  class="tab-pane" id="home"
                  div class="lead"
                    = @community.information.html_safe
