doctype html
html
  head
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: 'all', 'data-turbolinks-track': 'reload'
    = render 'layouts/google_analytics'
    = javascript_include_tag "application", "data-turbolinks-track": 'reload'
    = favicon_link_tag 'favicon.ico'
    - set_meta_tags alternate: { "es" => "https://floss-pa.net/" ,"en" => "https://floss-pa.net/en" },
      publisher: "https://plus.google.com/communities/113233271634131928687",
      canonical: "https://floss-pa.net"
    - set_meta_tags og: {type: "website",title: "#{t(:default_site_title)} ",
       description: t(:default_description),locale: params[:locale],
       site_name: "Floss-pa",image: "https://floss-pa/apple-touch-icon-152x152.png"}

    meta name="viewport" content="width=device-width, initial-scale=1.0"
    = display_meta_tags

  body id="home" data-signed-in = "#{user_signed_in?.to_s }"
    div id="header" class="navbar navbar-default navbar-fixed-top"
      == render 'shared/header'
    div class="container"

       - flash.each do |key, value|
         - class_key = 'success' if key=='success'
         - class_key = 'success' if key=='notice'
         - class_key = 'danger' if key=='error'
         - class_key = 'warning' if key=='alert'
         div class="alert alert-dismissible alert-#{class_key}" roler="alert"
           button type="button" class="close" data-dismiss="alert"
             | &times;
           = value
    == yield

    div id="footer"
      == render 'shared/footer'
