<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tbody>
        <tr style="background: #000; border: 0px">
          <td width="25%" ></td>
          <td width="55%" style="text-align: center">
            <img src="https://floss-pa.net/logo.png">
          </td>
          <td width="25%"></td>
        </tr>
        <tr style="background: #f6f8fa">
          <td>
            </td>
          <td style="background: #fff">
            &nbsp;
          </td>
        </tr>
        <tr style="background: #f6f8fa">
          <td>
            </td>
          <td style="background: #fff">
                 <%= yield %>
          </td>
          <td>
          </td>
        </tr>
        <tr style="background: #f6f8fa">
          <td></td>
          <td style="background: #fff">
            &nbsp;
          </td>
          <td></td>
        </tr>
        <tr style="background: #000;">
          <td>
          </td>
          <td style="text-aling: center; color:#c33600">
            <p>
            <%=t(:this_email_was_send_by)%>&nbsp;<a href="https://floss-pa.net" style="color: #f8c800;">Floss-pa</a></br>
              <%=t(:to_unsubscribe_go_to_your_user_preferences)%>&nbsp;<a href="https://floss-pa.net/preferences" style="color: #f8c800;"><%=t(:preferences)%></a>
              </p>
          </td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
